<div class="center hero-unit">
	<h1>Welcome to Donals bike rental website</h1>
		<p>Homepage for Donals website</p>
		<%= image_tag("bikehome.jpg", :alt => "bike1") %>
		<p><%= link_to 'Make an Order ' , bikes_path, class: "btn btn-large btn-default" %></p>
</div>

