// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .list_image {
    width:  80px;
    height: 70px;
  }

 .show_image {
    width:  200px;
    height: 200px;
  }