<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for placing an order</h1>
    <p>
      You have successfully placed an order with Donals bikes
    </p>
    <p>Thanks for Ordering!</p>
  </body>
</html>