<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for creating an account with donals bikes</h1>
    <p>
      You have successfully created an account
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>